
.galava {
    width: 1289px;
    height: 461px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;

}

.big {
    background-color: #c8c7f4;
    width: 855px;
    height: 386px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small {
    width: 415px;
    height: 386px;
    border-radius: 6px;
    background-color: #c8c7f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promotion {
    width: 362px;
    height: 40px;
    font-size: 34px;
    margin: auto 117px;
    
}

.AAA {
    width: 48px;
    height: 14px;
    color: #717171; 
    font-size: 12px;
    
}

.b {
    width: 359px;
    height: 71px;
    color: black;
    font-size: 35px;
}
.gl{
    /* display: flex; */
}
.c{
    color: #717171;
    font-size: 10px;
}
.d{
text-decoration: line-through;
width: 71px;
height: 24px; 
font-size: 20px;  
}
.kl{
    background-color: #6e25ee;
    color: #ffffff;
    width: 156px;
    height: 39px;
    border-radius: 10px;
    }
    .kn{
        display: flex;
        align-items: center;
    }
.oa{
    display: flex;
    font-size: 30px;
}

.yaaQQ{
    font-size: 24px;
    height: 71px;
    width: 319px;
    text-align: center;
    margin: auto;

}
.ooo{
    
    height: 113px;
    color: #6e25ee;
    font-size: 96px;
    margin: 0;
}
.io{
    width: 12px;
    height: 21px;
    color:#00000051;
    margin: left;
}
.oi{
    width: 18px;
    height: 21px;
    color:#00000051;
    margin:right;
}
.hm{
    display: flex;
    justify-content: space-evenly;
    gap: 120px;
}


body{
    margin: 0px;
}
.bashka{
    width: 1650px;
    height: 77px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.kakashka{

    text-align: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
}
.cakashka{
    display: flex;
    gap: 20px;
}
.KRUT{
    display: flex;
    align-items: center;
    justify-content: center;
}








.Canya{
    background-color: #F2F2F2;
    width: 764px;
    height: 386px;
    display: flex;
    justify-content: center;

}
.chutnegl{
    
}
.jqtyrf{
    display: flex;
    justify-content: center;
   align-items: center;
}
.Xbox{
    width: 484px;
    height: 261px;
}
.paakaa{
    width: 9.2px;
    height: 8.75px;
}
.papapapa{
    background-color: #6e25ee;
    width: 132px;
    height: 33px;

}
.popka{
    font-size: 30px;
    align-items: center;
    
}
.mcdakk{
    color: #717171;
    font-size: 12px;
}
.xboxxxx{
    font-size: 35px;
}
.jwtnoxka{

font-size: 10px;
}









































.e{
    background-color: rgb(255, 255, 255) ;
    margin-top: 100%;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.y{
    background-color: rgb(255, 255, 255);
    width: 181px;
    height: 27px; 
    display: flex;
    margin-left: 99px;  
}
.u{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 50px;
}


@font-face {
    font-family: "mazzard";
    src: 
      url("MazzardM-Light.otf") }

.fon{
    background-color: rgb(213, 211, 211);
    width: 240px;
    height: 375px;
    padding-top: 10px;
    border-radius: 5px;

}

.da{
    background-color: rgb(213, 211, 211);
    width: 150px;
    height: 190px;
}

.image1{
    width: 240px;
    margin-right: 200px;
}

.text{
    font-size: 50%;
    margin-left: 5px;
    font-family: "mazzard";
    padding-top: 20%;
}

.text1{
    color:rgb(118, 118, 118);
    font-size: xx-small;
}

.prise{
    font-size: small    ;
}
.tlv {
    width: 1289px;
    height: 539px;
    background-color: #DEC7F4;
    padding: 1px;
    display: flex;
    margin: auto;
}

.kjh {
    width: 276px;
    height: 16px;
    margin-left: 98px;
    margin-top: 156px;
    font-size: 50px;
}

.weks {
    width: 236px;
    height: 28px;
    margin-left: 98px;
    margin-top: 34px;
    font-size: 24px;
}
.dho{
width: 99px;
height: 21px;
margin-top: 490px;
font-size: 19px;
margin-left: 50px;


}




.verh{

    font-size: 40px;
}
.pravo{
    font-size: 20px;
    margin-top: 17px;
}
.hs{
    display: flex;
    justify-content: space-around;
    gap: 350px;
}
.korbka1{
    background-color: #F2F2F2;
    width: 240px;
    height: 386px;
    margin-left: 70px;
    border-radius: 5px;
    
}
.glavniy{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 35px;
}
.korbka2{
    background-color: #F2F2F2;
    width: 240px;
    height: 386px;

    border-radius: 5px;}
    .korbka3{
        background-color: #F2F2F2;
        width: 240px;
        height: 386px;
     
        border-radius: 5px;}

        .korbka4{
            background-color: #F2F2F2;
            width: 240px;
            height: 386px;
         
            border-radius: 5px;}
            .korbka5{
                background-color: #F2F2F2;
                width: 240px;
                height: 386px;
            
                border-radius: 5px;}





