@font-face {
    font-family: "mazzard";
    src: 
      url("MazzardH-Black.ttf") }

.fon{
    background-color: rgb(213, 211, 211);
    width: 200px;
    height: 300px;
    padding-top: 10px;
    border-radius: 5px;

}

.da{
    background-color: rgb(213, 211, 211);
    width: 150px;
    height: 190px;
}

.image1{
    width: 200px;
    margin-right: 200px;
}

.text{
    font-family: ;
    font-size: 40%;
    margin-left: 5px;
    font-family: "mazzard";
}

.text1{
    color:rgb(118, 118, 118);
    font-size: xx-small;
}

.prise{
    font-family: ;
    font-size: small    ;
}