
@font-face {
    font-family: "mazzard";
    src: 
      url("MazzardH-Black.ttf") }

.fon{
    background-color: rgb(213, 211, 211);
    width: 200px;
    height: 300px;
    padding-top: 10px;
    border-radius: 5px;

}

.da{
    background-color: rgb(213, 211, 211);
    width: 150px;
    height: 190px;
}

.image1{
    width: 200px;
    margin-right: 200px;
}

.text{
    font-family: ;
    font-size: 40%;
    margin-left: 5px;
    font-family: "mazzard";
}

.text1{
    color:rgb(118, 118, 118);
    font-size: xx-small;
}

.prise{
    font-family: ;
    font-size: small    ;
=======
.tlv {
    width: 1289px;
    height: 539px;
    background-color: #DEC7F4;
    padding: 1px;
    display: flex;
    margin: auto;
}

.kjh {
    width: 276px;
    height: 16px;
    margin-left: 98px;
    margin-top: 156px;
    font-size: 50px;
}

.weks {
    width: 236px;
    height: 28px;
    margin-left: 98px;
    margin-top: 34px;
    font-size: 24px;
}
.dho{
width: 99px;
height: 21px;
margin-top: 490px;
font-size: 19px;
margin-left: 50px;


}